.header {
    display: flex;
    justify-self: center;
}

.header_logo {
    flex-grow: 1;
}

.logoImage {
    max-width: 150px;
    object-fit: cover;
}

@media screen and (min-width: 799px) {
    .header {
        justify-self: normal;
        padding: 1rem 3rem;
    }

    .header_logo {
        flex-grow: 0;
    }
}