* {
  box-sizing: border-box;
}

:root {
  --bg-color: #F4F6F8;
  --text-color: #1A1A1A;

  --primary-color: #1F3A5F;
  --secondary-color: #FF6B6B;
  --tertiary-color: #6C8CD5;

  --accent-color: #F7B32B;
  --highlight-color: #8E44AD;
  --white: #FFFFFF;
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}


body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--tertiary-color);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;

}